
@{
    ViewBag.Title = "ErrorDisplay";
}


<div class="text-center mt-3">
    <div>
        <span>
            <img class="rounded error_image" src="~/Resources/AkitaError.png" />
        </span>
    </div>

</div>
